In [71]:
import pandas as pd
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func ,inspect
import pyodbc

In [83]:
# Using sqlalchemy
server = 'DABAS\SQLEXPRESS'
database = 'ChurnDataset'
driver = 'SQL Server'
connection = f"mssql://@{server}/{database}?driver={'SQL Server'}"
engine = create_engine(connection)
connect = engine.connect()

In [85]:
#using pyodbc
connection = pyodbc.connect('Trusted_Connection=yes', 
                     driver = '{ODBC Driver 17 for SQL Server}',
                     server = 'DABAS\SQLEXPRESS', 
                     database = 'ChurnDataset')

In [ ]:
cur = con.cursor()

cur.execute(
    "SELECT * FROM first"
)
column_names = [desc[0] for desc in cur.description]
print(column_names)

In [86]:
query= "SELECT * FROM Data"
cursor = connection.cursor()
cursor.execute(query)
column_names = [desc[0] for desc in cursor.description]
print(column_names)

['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary', 'churn']

In [78]:
query2 = '''SELECT
COUNT(DISTINCT customer_id) AS customer_count
FROM
data''';
cursor = connection.cursor()
cursor.execute(query2)
a= cursor.fetchall()
print(a[0])

(10000,)

In [76]:

inspector = inspect(engine)
columns = inspector.get_columns('Data')
for c in columns:
    print(c['name'], c["type"])

customer_id INTEGER
credit_score SMALLINT
country NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS"
gender NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS"
age TINYINT
tenure TINYINT
balance FLOAT
products_number TINYINT
credit_card BIT
active_member BIT
estimated_salary FLOAT
churn BIT